<div>
    <mat-form-field appearance="fill">
        <mat-label>Tarefa</mat-label>
        <input matInput>       >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select>
          <mat-option value="one">Concluído</mat-option>
          <mat-option value="two">Pendente</mat-option>
          <mat-option value="tree">Realizado</mat-option>
        </mat-select>
      </mat-form-field>
      
</div>